Flask
Flask-SQLAlchemy
Flask-Bcrypt
Flask-Migrate
Flask-Login
Flask-WTF
email-validator
celery
redis
biopython
numpy
matplotlib
reportlab
gunicorn
Flask-Limiter
Flask-Caching
marshmallow
scikit-learn
pytest
