{% extends "base.html" %}

{% block title %}
admin
{% endblock %}

{% block content %}
<section class="admin-page">
 <h3>Account controls</h3>
    <a href="/register">
        <button type="button" id="create-user-button">Create user</button>
    </a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <form action="/delete_user/{{ user.id }}" method="post">
                        <button class="btn btn-danger delete-btn" type="submit" data-userid="{{ user.id }}">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
        <div class="employee-search">
        <h3>Select User</h3>
        <form id="select-user-form">
            <label for="user-dropdown">Choose a user:</label>
            <select id="user-dropdown" name="user">
                {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
            <button>Select User</button>
        </form>
    </div>



    <p>Selected User ID: <span class="user-id">None selected</span></p>


    <button type="button" id="change-username-button" onclick="showUsernameAndPasswordFields()">Change username</button>
    <button type="button" id="change-password-button" onclick="showUsernameAndPasswordFields()">Change password</button>

    <input type="text" name="usernameInput" id="usernameInput" style="display: none;" placeholder="New username">
    <input type="password" name="passwordInput" id="passwordInput" style="display: none;" placeholder="New password">

    <h3>Permissions</h3>
    <form action="/update_permissions" method="post">
        <label>
            <input type="checkbox" name="viewReports"> View Reports
        </label>
        <br>
        <label>
            <input type="checkbox" name="deleteReports"> Delete Reports
        </label>
        <br>
        <label>
            <input type="checkbox" name="printReports"> Print Reports
        </label>
        <br>
        <label>
            <input type="checkbox" name="changeSettings"> Change Compilation Settings
        </label>
        <br>
        <br>
        <input type="hidden" name="userId" value="{{ user_id }}">
        <div style="text-align:center">
            <button type="submit">Save Permissions</button>
        </div>
    </form>







   </section>
{% endblock %}
