{% extends "base.html" %}

{% block title %}
employee
{% endblock %}

{% block content %}
<div class="card-container"></div>

<!--  Possibly use this for search to remain on same page??:  <form action="{{ request.path }}" method="POST" class="card-body">-->

<div class="flex-container">
    <form action="/search" method="POST">
        <input type="text" name="search" placeholder="Search...">
        <button type="submit">Search</button>
        <button type="submit" name="browse-computer">Browse Computer</button>
        <button type="submit" name="upload">Upload</button>
    </form>
</div>
<div>
    <form action="add_action" method="post" style="text-align:center">
        <h3>Select a report from Employee 1</h3>
        <input type="radio" id="report1" name="report" value="report1">
        <label for="report1" >Report 1</label>
        <button type="button" onclick="modifyReport('report1')" >Modify</button>
        <button type="button" onclick="deleteReport('report1')">Delete (Needs approval)</button>
        <br>
        <br>
        <button type="button" onclick="generateReport()" >Generate New Report</button>
    </form>
</div>

{% endblock %}