{% extends "base.html" %}

{% block title %}
employee
{% endblock %}

{% block content %}
<div class="card-container"></div>

{% if all_records %}
<div class="records-container">
    <h3>Gene records ready to be compiled:</h3>
    {% for record in all_records %}
    <p>{{ record.organism }} : {{ record.gene_info }}</p>
    {% endfor %}
    <button type="button" onclick="compileReport()">Compile Report</button>
</div>
{% endif %}



<div class="flex-container">
    <form id="searchForm">
        <input type="text" name="search" placeholder="Search...">
        <button type="button" onclick="searchReports()">Search</button>
    </form>
</div>

<div id="searchResults" class="card-container"></div>

<div>
    <form action="add_action" method="post" style="text-align:center">
        <h3>Select a report from Employee 1</h3>
        {% for report in reports %}
        <label for="report{{ loop.index }}">Report {{ loop.index }}</label>
        <button type="button" onclick="displayReport('{{ report.id }}')">Display</button>
        <br>
        {% endfor %}
        <br>
    </form>
</div>

{% endblock %}