
{% extends "base.html" %}

{% block title %}
admin
{% endblock %}

{% block content %}


   <form action="add_action" method="post" style="text-align:center">
        <h3>Select an Employee</h3>
        {% for report in reports %}
        <label for="report{{ loop.index }}">Report {{ loop.index }}</label>
        <button type="button" onclick="displayReport('{{ report.id }}')">Display</button>
        <button type="button" onclick="modifyReport('{{ report.id }}')">Modify</button>
        <button type="button" onclick="deleteReport('{{ report.id }}')">Delete</button>
        <br>
        {% endfor %}
        <br>
        <button type="button" onclick="generateReport()">Print All</button>
    </form>


<script>

    function displayReport(reportId) {
        window.location.href = '/display_report/' + reportId;
    }

    function modifyReport(reportId) {
        // Implement the modify report functionality
        console.log("Modify Report: " + reportId);
    }

    function deleteReport(reportId) {
        // Implement the delete report functionality
        console.log("Delete Report: " + reportId);
    }

</script>
{% endblock %}
