.flex-container {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
}

.flex-container img {
    width: 100%;
    height: 100px;
    z-index: -1;
}

.flex-container h1 {
    position: absolute;
    text-decoration: overline;
}

footer {
    background-color: rgba(0, 0, 0, 0.59);
    color: white;
    text-align: center;
    margin-top: 100vh;
}

.navbar-container {
    background-color: #333333;
    width: 100%;
}

.navbar {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    margin: 0 auto;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 20px 30px;
}

.navbar a:hover {
    background-color: #555;
}

/*Shows what page you are on via navbar*/
.active {
    background-color: rgb(94, 125, 239);
}

.sub-radios {
    display: none;
    margin-left: 20px;
}

/*Admin styling*/
.admin-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 10px;
    flex-flow: column;
}

.employee-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 10px;
    flex-flow: column;
}